body {
    margin: 40px;
}

.content {
    height: 50vh;
    grid-area: content;
    position: relative;
}

.buttonCheckInOutSize {
    width: 170px;

}

.bottomleft{
    position:absolute;
    bottom: 10px;
    left:10px;
}

.bottomright{
    position:absolute;
    bottom: 10px;
    right:10px;
}

.center {
    margin: auto;
    width: auto;
}

.stars {
    color: #ffe600
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: "header header header" "content content content" "footer footer footer";
    background-color: rgb(241, 241, 247);
    color: rgb(37, 35, 41);
}

.box {
    height: auto;
    display: grid;
    background-color: #fff;
    color: rgb(37, 35, 41);
    border-radius: 5px;
    padding: 50px;
    font-size: 150%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header {
    height: 1fr;
    background-color: rgb(255,89,96)
}

.footer {
    background-color:rgb(0,132,137)
}


div{
color: rgb(63, 63, 65);

}
 


 /* Jans forandringer */

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.tlf-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.submit {
    width: 60px;
    height: 60px;
    background-color: blue;
}
input.tlf {
    width: 50%;
    height: 60px;
}
textarea {
    height: 80%;
    width: 100%;
}
/* Class for STARS
.checked {
    color: orange;

  }
ul {
    list-style: none;
}
