body {
  
  font-family: 'Roboto', sans-serif;
  color: rgb(47, 45, 49);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto 0.8fr auto;
  }
 
}

header {
  grid-column: span 3;
  padding: 40px;
  text-align: center;
  font-size: 1.4em;
  background-image: url(sky.png);
   
}

main {
  flex: 15;
  padding-top: 150px; 
  box-shadow: 4px 6px 7px 4px rgba(0,0,0,0.32);
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white; 
}


nav {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
 
aside {
  padding: 0;
  background-color: white;
}

footer {
  grid-column: span 3;
  padding: 40px;
  text-align: center;
  font-size: 1.4em;
  background-color: #839595;
}

.bottomleft {
  position: absolute;
  bottom:60px ;
  left: 65px;
  width: 170px;
  height:60px;
  box-shadow:  3px 2px 9px 2px rgba(0,0,0,0.32);
  
}

.bottomright {
  position: absolute;
  bottom: 60px;
  right: 65px;
  width: 170px;
  height: 60px; 
  box-shadow:  3px 2px 9px 2px rgba(0,0,0,0.32);

}

.btns {
   width: 170px;
  height: 70px;
  box-shadow:  3px 3px 6px 2px rgba(0,0,0,0.32);
}
.btnColor{
  background-color: #008489;

}
/* Centers everything within all divs */
div{
  text-align:center;
  font-size: 30px;
  
}

.stars {
  color: #ffe600;
}


/* Jans forandringer */
#side4 {
  align-content: center;
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.tlf-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.submit {
  width: 60px;
  height: 60px;
  background-color: blue;
}
input.tlf {
  width: 50%;
  height: 60px;
}
textarea.page9Text {
  height: 80%;
  width: 100%;
}
/* Class for STARS */
.checked {
  color: orange;
}
ul {
  list-style: none;
}

/* Checkout form  */
* {
  font-family: "Roboto",  sans-serif;
  font-size: 19px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}

form {
  width: 400px;
}

label {
  height: 35px;
  position: relative;
  color: #8798ab;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 32px;
  color: #8798ab;
  border-bottom: 1px solid #586a82;
  transition: border-bottom-color 200ms ease-in-out;
  cursor: text;
  pointer-events: none;
}

label > span span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
  cursor: text;
}

label .field.is-focused + span span,
label .field:not(.is-empty) + span span {
  transform: scale(0.68) translateY(-36px);
  cursor: default;
}

label .field.is-focused + span {
  border-bottom-color: #34d08c;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder {
  color: #8898aa;
}
.field::-moz-placeholder {
  color: #8898aa;
}

/* IE doesn't show placeholders when empty+focused */
.field:-ms-input-placeholder {
  color: #424770;
}

.field.is-empty:not(.is-focused) {
  opacity: 0;
}

.pay {
  float: left;
  display: block;
  background: #34d08c;
  color: white;
  border-radius: 2px;
  border: 0;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
  height: 47px;
  line-height: 45px;
  outline: none;
}

.pay:focus {
  background: #24b47e;
}

.pay:active {
  background: #159570;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success,
.continue,
.error {
  display: none;
  font-size: 15px;
}

.pay.gone {
  display: none;
}

.success.visible,
.continue.visible,
.error.visible {
  display: inline;
}

.error {
  color: #e4584c;
}

.success {
  color: #34d08c;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}

.info {
  position: relative;
  left: 10px;
}

  
  