*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x:hidden;
}

.v-header{
  height:100vh;
  display:flex;
  align-items: center;
  color:#fff;  
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin: auto;
  text-align:center; 
}

.fullscreen-video-wrap {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow: hidden;
}

.fullscreen-video-wrap img{
  min-width:100%;
  min-height:100%;

}


.header-content{
  z-index:2;
  width: 920px;
    height: 710px;
    background-color:#324338c8;
    margin:0 auto;
    padding-top: 3rem;
    
    position: relative;
    border-radius: 5px;
   
}

.header-content h1{
  font-size:35px;
  margin-bottom:0;
    
}

.header-content p{
  font-size: 2.4rem;
  display:block;
  padding-bottom: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 3rem;
  
}

.btn{
  background:#376a5c;
  color:#fff;
  font-size: 1.2rem;
  padding:1rem 2rem;
  text-decoration:none;
  width: 220px;
  height: 65px;
  font-size: 25px;
  border:none; 
  margin-top:10%;
  box-shadow: 12px 12px 2px 10px rgba(45, 45, 48, 0.2);
}
.btn:hover{
  background-color:#4eb6a6;
  
}

.bg{
  width: 330px;
}


.lgIcon{
  width:20px;
  height:20px;
}


.inputForm {
  width:200px;
  height:45px;
  color:rgb(74, 74, 79);
  box-shadow:  2px 5px 4px 2px rgba(43, 41, 45, 0.518);
}
.inputSmall{
  width: 160px;
}
.submitBtn{
  width:100px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(219, 66, 66, 0.696);
  border:none;
  margin:12px;
  color:white;
  font-size: 20px;
  box-shadow:  2px 5px 4px 2px rgba(43, 41, 45, 0.518);
 
}

.submitBtn:hover{
  box-shadow: 2px 2px 10px 6px rgba(247, 248, 249, 0.593);
}
.small{
  width:50px;
  height:50px;
  box-shadow: none
}
 ul{
   text-align: left;
   padding-left:12rem;
  margin:0
  auto;
  width:800px; 
 }

li{
  font-size: 25px;
  padding:5px;
}
table.page10{
  margin:0 auto;
  width: 400px;
  font-size: 1.9em;
  text-align: right;
}
td{
  padding:10px;
}
.fa-trash-alt{
  padding:9px;
}
  
#page1{
  margin:0
  auto;
padding-top: 4rem}

#page2{
  margin:0
  auto;
padding-top: 5rem;
}
 #bookingNumber{
  font-size: 35px;
  text-align: center;
}

#page3{
  margin:0
  auto;
padding-top: 3rem;}


#page4{
  margin:0
  auto;
}

#page5{
  margin:0
  auto;}

  
#page6{
width:600px;
 margin:0
  auto;
  padding-top: 4rem;
}
#page6 h1{
  color:rgb(248, 248, 249);
}
 #home{
   background-color: #3e685ca5;
   padding-bottom: 53px;
   padding-top: 43px;
   color:rgb(158, 178, 192);
   
 }

#page10{
  margin:0
   auto;
 }
  
 table.page10{
   font-size:25px;
  
 }
#page11{
  font-size: 50px;
  margin:0
  auto;
  
}
#page11 ul{
  text-align:left;
  padding-left: 10%;
  list-style-type: none;
  
 
  
}
#page11 .btn{
  margin-left:30%;
  margin-top:6%;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;
  font-size: 30px;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 52px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  
  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 56px;
  width: 56px;
  background-color:  rgba(90, 152, 223, 0.436);
  left: -20px;
  border-radius:45px;
  border:2px solid #e7ecf4;
  box-shadow: 2px 2px 2px 1px rgba(52, 52, 78, 0.442);

  top: -4px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 23px;
  width: 20px;
  color: #f1f6f6; 
  border-left: 3px solid;
  border-bottom: 4px solid;
  transform: rotate(-45deg);
  
  left: 0px;
  top: 5px;
  
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  box-shadow: -10px 6px 30px 1px rgba(254, 254, 255, 0.504);
  
}

Resources
#masterlock{
  
  margin: 0 auto;
}
.important{
  color: rgba(223, 90, 90, 0.696);
}
@media(max-width:960px){
  .container{
      padding-right: 3rem;
      padding-left: 3rem;  
  }
}
@media (max-width: 768px) {
  .header-content {
    width: 768px;
    height: 90%;
      position:relative;
      margin:0
      auto; 
      padding-top: 7rem;
     
  } 
  ul{
    width:500px;
    padding-left:4rem;
  margin:0 auto;}

   #page10 table{
     font-size: 90px;
   }

   #page11 ul{
      width:600px;
      padding-left:2rem;
    margin:0 auto;
    list-style-type: none;
    color:white;
  }
}
  


.stars {
  color: #ffe600;
}
.textInput{
  
  max-width: 90%;
  min-height:75px;
  max-height:300px; 
  margin:0 auto;
  background-color: #f0f3ea;
  color: #333;
}

/* Jans forandringer */


 h2 {
  text-align: center;
  font-size: 20px;
}
 h3 {
  text-align: center;
}
 .tlf-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.submit {
  width: 60px;
  height: 60px;
  background-color: blue;
}
input.tlf {
  width: 50%;
  height: 60px;
}
textarea {
  height: 10%;
  width: 100%;
}
/* Class for STARS */
.checked {
  color: orange;
}
ul {
  list-style: none;
}

/* Checkout form  */
* {
  font-family: "Roboto",  sans-serif;
  font-size: 19px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}

form {
  width: 400px;
  margin-left: 100px;
}

label {
  height: 35px;
  position: relative;
  color: #8798ab;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 32px;
  color: #8798ab;
  border-bottom: 1px solid #586a82;
  transition: border-bottom-color 200ms ease-in-out;
  cursor: text;
  pointer-events: none;
}

label > span span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
  cursor: text;
}

label .field.is-focused + span span,
label .field:not(.is-empty) + span span {
  transform: scale(0.68) translateY(-36px);
  cursor: default;
}

label .field.is-focused + span {
  border-bottom-color: #34d08c;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder {
  color: #8898aa;
}
.field::-moz-placeholder {
  color: #8898aa;
}

/* IE doesn't show placeholders when empty+focused */
.field:-ms-input-placeholder {
  color: #424770;
}

.field.is-empty:not(.is-focused) {
  opacity: 0;
}

.pay {
  float: left;
  display: block;
  background: #34d08c;
  color: white;
  border-radius: 2px;
  border: 0;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
  height: 47px;
  line-height: 45px;
  outline: none;
}

.pay:focus {
  background: #24b47e;
}

.pay:active {
  background: #159570;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success,
.continue,
.error {
  display: none;
  font-size: 15px;
}

.pay.gone {
  display: none;
}

.success.visible,
.continue.visible,
.error.visible {
  display: inline;
}

.error {
  color: #e4584c;
}

.success {
  color: #66d5a5;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}

.info {
  position: relative;
  left: 10px;
}

  
  